---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h3>Pre-Prints</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="/images/Tiny_Risk.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Unraveling Complex Sequential Social Dilemmas: In a Risky World with A2C Decision Transformer</papertitle>
      <br>
      <I><b>Ashish Panchal</b>, Vandith Pamuru</I>
      <br>
      <a>Accepted for AAAI-2025 Multi-Agent AI in the Real World (MARW) workshop</a>a
      <br>
      <br>
      <a href="/files/Unravelling%20Complex%20Sequential%20Social%20Dilemmas-%20In%20a%20Risky%20World%20with%20A2C%20Decision%20Transformers.pdf" target="_blank">Paper</a> | <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
</tbody></table>
<be>


<h3> Research Projects </h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Tiny_Risk.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Tiny-Risk: Dynamic relationship building - Extensive form Sequential Social Dilemma </papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/A2C_DT.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Advantage Actor Critic Decision Transformer</papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/Tiny-Risk-and-A2C-Decision-Transformer" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/IRL.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Inverse Reinforcement Learning using Sequential Models to explain long-horizon non-markovian Behavior </papertitle>
      <br>
      <p>In progress</p>
      <br>
      <a href="https://github.com/ashishpanchal33/IRL_Decision_Transformer" target="_blank">Project</a>
    </td>
  </tr>

  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/density.png" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Cell Growth Media Precipitation Quantification using Vision Transformer: A model parameter performance study</papertitle>
      <br>
      <I><b>Ashish Panchal</b>, Amr El Gendy, John Henderson</I>
      <br>
      <a href="/files/CS7643_Final_Project.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/Vision_Transformer_Density_estimation" target="_blank">Project</a>
    </td>
  </tr>
  

  

</tbody></table>

  
  
<h3>Self led and Exploratory Projects</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Lunar_Lander_DQN.gif" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Solution and experimental analysis of Lunar lander using Deep Q Networks with Experience Replay</papertitle>
      <br>
      <p>Area of Study: Deep Reinforcement Learning</p>
      <br>
      <a href="/files/Apanchal33_RL_P2.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/Lunar-Lander-DQN" target="_blank">Project</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/TD_Learning.png" alt="" />
    </td>
    
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Experimental Replication and Analytical review of "learning to predict by the methods of Temporal Differences" by R. Sutton</papertitle>
      <br>
      <p>Area of Study: Deep Reinforcement Learning</p>
      <br>
      <a href="/files/Apanchal33_RL_Project1_.pdf" target="_blank">Report</a> | <a href="https://github.com/ashishpanchal33/TD-Learning-Review" target="_blank">Project</a>
    </td>
  </tr>
</tbody></table>


<h3>Conference Publications (Undergraduate)</h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Mobile_white_k.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>External mechanism to prevent irreversible damage to hardware components of a cellular phone</papertitle>
      <br>
      <I>Eram Khan, <b>Ashish Panchal</b> </I>
      <br>
      <a href="/files/External_mechanism_to_prevent_irreversible_damage_to_hardware_components_of_a_cellular_phone_Mobile_white_knight.pdf" target="_blank">Paper</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/Mechanical_movement_aid.gif" alt="" />
    </td >

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Mechanical movement aid to nerve damaged and parkinson’s using pressure frequency detection</papertitle>
      <br>
      <I>Eram Khan, <b>Ashish Panchal</b> </I>
      <br>
      <a href="/files/Mechanical_movement_aid_to_nerve_damaged_and_parkinsons_using_pressure_amp_frequency_detection_pseudo_arm_controller.pdf" target="_blank">Paper</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 20%;">
      <img src="/images/wired_network_service.gif" alt="" />
    </td>

    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Wired network services in mobile phonese</papertitle>
      <br>
      <I>Subhash Reddy, <b>Ashish Panchal</b>, Shailendra, B. P. Patil</I>
      <br>
      <a href="/files/Wired_network_services_in_mobile_phones.pdf" target="_blank">Paper</a>
    </td>
  </tr>
</tbody></table>
<br>
  

  



<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



