---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<link href="/assets/css/plugins.css" rel="stylesheet">
<link href="/assets/css/style_art.css" rel="stylesheet">



        <section class="p-b-100 background-dark text-light">

            <div class="container">
                
                <div id="blog" class="grid-layout post-items-transparent post-3-columns m-b-30" data-item="post-item">
                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                    <img alt="" src="/images/Power.svg">
                                <span class="post-meta-category">Ongoing</span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Since February 2024</span>
                                <h2>Neo-Sino Mysticism Series  </h2>
                                <p>The series aims to construct abstract mystic models using images and symbols, refining their parameters to explore deeper meanings. Through visual art, this series explores and presents the application and significance of mysticism in contemporary society. By fusing ancient symbols with modern geometric forms, it creates a new visual language. The abstract mystic painting models will showcase the relationships and interactions between various mystical elements, allowing viewers to perceive the pathways and nodes of energy flow between symbols. By adjusting various "parameters" of the models, the works attempt to explore and reveal the effects and significance of different mystical elements, examining their influence on broader societal concepts.
                                </p>
                                <a href="project/neo.html" class="item-link">Link to the project <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

               </div>
            </div>
        </section>





{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
